@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #04A4D5;
  --color-background: #EBFAFF;

  --font-family-base: 'Libre Franklin', system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-family: var(--font-family-base);
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color-background);
  /* color: #213547; */
  margin: 0;
}

a {
  font-weight: 500;
  /* color: var(--color-background); */
  text-decoration: inherit;
}
a:hover {
  color: #026684;
}

h1 {
  font-family: 'Libre Franklin SemiBold', var(--font-family-base);
  font-size: 35px;
  font-weight: 600;
  line-height: 1.2;
}

h2 {
  font-family: 'Libre Franklin Regular', var(--font-family-base);
  font-size: 25px;
  font-weight: 400;
}

h3 {
  font-family: 'Libre Franklin SemiBold', var(--font-family-base);
  font-size: 18px;
  font-weight: 600;
}

.text-bold {
  font-family: 'Libre Franklin Bold', var(--font-family-base);
  font-weight: 700;
}

.text-regular {
  font-family: 'Libre Franklin Regular', var(--font-family-base);
  font-weight: 400;
}

.caption {
  font-size: 14px;
  font-family: 'Libre Franklin Bold', var(--font-family-base);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  margin-top: 10px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-primary);
  color: white;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #0382ab;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

#app {
 padding: 0;
}
